<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>759297945071-9g9vrgg8ecbckn1s0iavhkcb8kro3rof.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.759297945071-9g9vrgg8ecbckn1s0iavhkcb8kro3rof</string>
    <key>API_KEY</key>
    <string>AIzaSyAP8QFTPOJp1r7_q-PtOnVeFhXlvBiuS60</string>
    <key>GCM_SENDER_ID</key>
    <string>759297945071</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.example.theDartSide</string>
    <key>PROJECT_ID</key>
    <string>thedartside-99de1</string>
    <key>STORAGE_BUCKET</key>
    <string>thedartside-99de1.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:759297945071:ios:76cd13086875b480781a1a</string>
    <key>DATABASE_URL</key>
    <string>https://thedartside-99de1.firebaseio.com</string>
</dict>
</plist>
